/* Variables */
$transition: all .3s;

$danger: #e74c3c;
$warning: #d35400;
$good: #2ecc71;
$primary: #ee5327;
$primaryFade: rgba(243, 122, 35,.8);
$primaryFader: rgba(243, 122, 35,.4);
$dark: #2c3e50;
$gray: #7f8c8d;
$blue: #2980b9;

/* HTML */
html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

textarea {
  height: 150px !important;
}

table {
    th {
        text-align: left;
    }
}

table.striped>tbody>tr:nth-child(odd) {
  background-color: $primaryFader;
}

.input-field>label {
  left: 20px;
}

/* Helpers */
.hide {
  opacity: 0;
  pointer-events: none;
}

.invisible {
  display: none;
}

.danger-bg {
  background-color: $danger !important;
  color: #fff;
}

.warning-bg {
  background-color: $warning !important;
  color: #fff;
}

.good-bg {
  background-color: $good !important;
}

.bg-primary-fade {
  background-color: $primaryFade;
}

.home-actions {
  gap: 15px;
  max-width: 70vw;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;

  .action {
    background-color: #fff;
    border-radius: 6px;
    display: block;
    width: 30%;
    aspect-ratio: 1/1;
    text-transform: uppercase;
  }
}

.modal {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transition: all .5s;
  z-index: 1111;

  .overlay {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .register-form {
    position: relative;
    z-index: 11;
  }
}

/* Components */
.btn {
  &.btn-primary {
    background-color: $primary;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      opacity: .5;
    }
  }

  &.btn-delete {
    display: flex;
    align-items: center;
    background-color: #c0392b;
    color: #fff;
  }

  &.btn-edit {
    display: flex;
    align-items: center;
    background-color: $blue;
    color: #fff;
  }
}

.btn-block {
  width: 100%;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;

  &.icon-companies, &.icon-user, &.icon-register, &.icon-exit, &.icon-clients, &.icon-dash, &.icon-home, &.icon-payment {
    width: 30px;
    height: 30px;
  }

  &.icon-close {
    width: 16px;
    height: 16px;
  }

  &.icon-delete, &.icon-edit {
    width:15px;
    height: 15px;
    margin-right: 5px;
  }

  &.icon-exit {
    margin-right: 10px;
  }
}

.content-logo {
  width: 350px;
  margin: 15px auto;
}

.logout-btn {
  padding: 0;
  display: flex;
  align-items: center;
  color: #000;
}

nav {
  background-color: transparent;
}

.sidenav-trigger {
  position: fixed;
  top: 5px;
  left: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $primary;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 111;
}

.sidenav {
  background-color: $primary;

  span {
    color: #000;
    font-weight: 700;
  }

  >li>a, >li button {
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    text-transform: uppercase;
    transition: $transition;
    color: #000;

    &:hover {
      color: $gray;
    }
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;


  }
}

.heading {
  background-image: url('/img/banner-1.jpeg');
  background-size: cover;
  position: relative;

  img, h1 {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    display: block;
    inset: 0;
    z-index: 0;
  }
}

/* PAGES */

#login {
  background-image: url('/img/laptop.jpeg');
  background-size: cover;

  .heading {
    display: none;
  }
}

#home {
  .navigation {
    display: none !important;
  }

  .action {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: $primary;
    font-size: 1.5rem;
    border-radius: 6px;
    width: 25%;
    transition: $transition;

    &:hover {
        background-color: $primaryFade;
    }
  }

  .w-9\/12 {
      margin: 0 auto;
  }
}

//Print
@media print {
    form, .btn, .heading, .sidenav-trigger, .search {
      visibility: hidden;
      position: absolute;
    }
  
    table {
      visibility: visible;
  }
}

